<div class="dialogBackground" [ngClass]="dialogItem.class" (transitionend)="destroy(dialogItem)">
  <div class="dialogContainer" id="dialog-{{ dialogItem.id }}">
    <div class="dialog">
      <header>
        Title
      </header>
      <section>
        <table>
          <tr>
            <td *ngIf="dialogItem.icon.match('ow-')">
              <i class="{{ dialogItem.icon }}"></i>
            </td>
            <td *ngIf="dialogItem.icon.match('jpeg')">
              <div class="notificationImageContainer">
                <img src="{{ dialogItem.icon }}" alt="" class="notificationImage">
              </div>
            </td>
            <td class="text">
              {{ dialogItem.body }}
            </td>
          </tr>
        </table>
      </section>
      <footer>
        <button *ngIf="dialogItem.okCallBack" (click)="call(dialogItem.okCallBack,dialogItem)" [ngClass]="dialogItem.okClass">{{ locale.ok }}</button>
        <button *ngIf="dialogItem.yesCallBack" (click)="call(dialogItem.yesCallBack,dialogItem)" [ngClass]="dialogItem.yesClass">{{ locale.yes }}</button>
        <button *ngIf="dialogItem.noCallBack" (click)="call(dialogItem.noCallBack, dialogItem)" [ngClass]="dialogItem.noClass">{{ locale.no }}</button>
        <button (click)="close(dialogItem)" [ngClass]="dialogItem.cancelClass">{{ locale.cancel }}</button>
      </footer>
    </div>
  </div>
</div>
