<div class="dialogBackground" [ngClass]="dialogItem.class" (transitionend)="destroy(dialogItem)">
  <div [ngStyle]="{'top': dialogItem.top, 'left': dialogItem.left}"
       class="dialogContainer" id="dialog-{{ dialogItem.id }}">
    <div class="dialog">
      <header>
        Title
      </header>
      <section>
        <table>
          <tr>
            <td *ngIf="dialogItem.icon.match('ow-')">
              <i class="{{ dialogItem.icon }}"></i>
            </td>
            <td *ngIf="dialogItem.icon.match('jpeg')">
              <div class="notificationImageContainer">
                <img src="{{ dialogItem.icon }}" alt="" class="notificationImage">
              </div>
            </td>
            <td class="text" [innerHTML]="dialogItem.body">
            </td>
          </tr>
        </table>
      </section>
      <footer>
        <button *ngFor="let item of objectKeys(dialogItem.buttons)"
                [ngClass]="dialogItem.buttons[item].class"
                [innerHTML]="dialogItem.buttons[item].label"
                (click)="call(dialogItem.buttons[item].callback, dialogItem)"
                (blur)="blur($event)"
        ></button>
      </footer>
    </div>
  </div>
</div>
