<div>
  <label>
    <input type="text" placeholder="{{ locale.searchDots }}" [(ngModel)]="searchTerm"
           (keyup)="checkKeys($event)"
           (keydown)="preventCursor($event)"
           (blur)="closeSearchDebounce()"
           (focus)="checkKeys($event)"
           (click)="consolelog($event)"
           [ngClass]="objectKeys(searchHits).length > 0 ? 'results' : ''"
           [ngStyle]="{'padding-left': searchTerm.length > 0 ? '4px' : '24px'}"
           autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false">
    <i class="ow-search search" [ngStyle]="{'opacity': searchTerm.length > 0 ? 0 : 1}"></i>
  </label>
  <div class="searchResults" [ngClass]="searchResults ? 'on' : 'off'">
    <div *ngFor="let item of objectKeys(searchHits)"
         [ngClass]="item == searchHitIndex ? 'selectedItem' : ''"
         (click)="search($event, item)"
         (mouseover)="searchHitIndex = int(item)">
      <i *ngIf="searchHits[item].icon" [ngClass]="searchHits[item].icon"></i>
      <span [innerHTML]="searchHits[item].highlighted"></span>
    </div>
  </div>
</div>
