<app-titlebar class="titleBarTop" id="titleBarTop" [desktopHeight]="desktopHeight" [desktopWidth]="desktopWidth"
              (changedSize)="resizeToolBar()"></app-titlebar>
<div class="desktop" [ngStyle]="{height: desktopHeight + 'px'}">

  <app-slider
    [min]="0"
    [max]="360"
    [val]="50"
    [input]="'two'"
    [steps]="1"
    [callBack]="null"
    [direction]="'horizontal'"
    [inverted]="false"
    [class]="'volume'"
  ></app-slider>

  <app-slider
    [min]="0"
    [max]="10000"
    [val]="900"
    [input]="'two'"
    [steps]="1"
    [callBack]="null"
    [direction]="'horizontal'"
    [inverted]="false"
    [class]="'heat'"
  ></app-slider>

  <div *ngFor="let windowItem of objectKeys(windowList)">
    <app-window [windowItem]="windowList[windowItem]"
                [titleBarTopHeight]="titleBarTopHeight"
                [toolbarHeight]="toolbarHeight"
                [desktopHeight]="desktopHeight"
                [desktopWidth]="desktopWidth"
                (closing)="onClose(windowList[windowItem])"
                (closed)="onClosed(windowList[windowItem])"
                (click)="makeWindowActive(windowList[windowItem])">
    </app-window>
  </div>
  <h2>Demo Logins</h2>
  <div>admin/password</div>
  <div>test/test</div>
  <div>john/john</div>
  <app-login *ngIf="!profile && loaded"></app-login>
  <button (click)="newNotificationSuccess('New Messages', 'ow-messages_over')">New Success Notification</button>
  <button
    (click)="newNotificationSuccess('A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A', 'ow-oceanworks')">
    New Success Notification
  </button>
  <button (click)="newNotificationWarning('Warning', 'ow-warning')">New Warning Notification</button>
  <button (click)="newNotificationError('Error Error Error', 'ow-error')">New Warning Notification</button>
  <hr>
  <button (click)="newDialog('Title', 'Are you sure you wish to perform this action on this dialog<br><br>You can not undo this action.', 1)">Test Dialog (Yes/No)</button>
  <button (click)="newDialog('Title', 'Are you sure you wish to perform this action on this dialog<br><br>You can not undo this action.', 2)">Test Dialog (OK/Cancel)</button>
  <button (click)="newDialog('Title', 'Are you sure you wish to perform this action on this dialog<br><br>You can not undo this action.', 3)">Test Dialog (OK)</button>
  <button (click)="newDialog('Title', 'Are you sure you wish to perform this action on this dialog<br><br>You can not undo this action.', 4)">Test Dialog (Cancel/No/Yes)</button>


</div>
<app-toolbar class="toolbar" id="toolbar" [desktopHeight]="desktopHeight"
             [desktopWidth]="desktopWidth"></app-toolbar>
<app-notification></app-notification>
<div *ngFor="let dialogItem of objectKeys(dialogList)">
  <app-dialog [dialogItem]="dialogList[dialogItem]"></app-dialog>
</div>
