<app-titlebar class="titleBarTop" id="titleBarTop" [desktopHeight]="desktopHeight" [desktopWidth]="desktopWidth" (changedSize)="resizeToolBar()"></app-titlebar>
<div class="desktop" [ngStyle]="{height: desktopHeight + 'px'}">
  <div *ngFor="let windowItem of objectKeys(windowList)">
    <app-window [windowItem]="windowList[windowItem]"
                [titleBarTopHeight]="titleBarTopHeight"
                [toolbarHeight]="toolbarHeight"
                [desktopHeight]="desktopHeight"
                [desktopWidth]="desktopWidth"
                (closing)="onClose(windowList[windowItem])"
                (closed)="onClosed(windowList[windowItem])"
                (click)="makeWindowActive(windowList[windowItem])">
    </app-window>
  </div>
  <button (click)="login(1)" *ngIf="!profile">Login 1 (Carl)</button>
  <button (click)="login(2)" *ngIf="!profile">Login 2 (Sandra)</button>
  <button (click)="login(3)" *ngIf="!profile">Login 3 (No such user)</button>
  <button (click)="login(4)" *ngIf="!profile">Login 4 (John no image)</button>
</div>
<app-toolbar class="toolbar" id="toolbar"></app-toolbar>
