.ribbonButton {
  display:inline-grid;
  width:90px;
  text-align:center;
  position:relative;
  height:80px;
  padding-top:6px;
  padding-bottom:6px;
  color:var(--text);
  cursor:pointer;
  border-radius:4px;
  transition: all 200ms;
  border:1px solid var(--background-grey);
}
.ribbonButton:hover {
  background-color:var(--background-darker-grey);
  transition: all 200ms;
  border:1px solid var(--background-darkest-grey);
}

.ribbonButton:active {
  background-color: var(--background-darkest-grey);
}

.ribbonButton:hover .icon{
  color:var(--primary);
}

.icon {
  font-size: 32px;
  margin-top: 2px;
  margin-bottom: 0px;
}

.ribbonButton.small {
  height:42px !important;
  overflow:hidden;
  padding-top:0;
  width:46px;
}
.ribbonButton.small .icon{
  transition: all 0s;
  padding-bottom:20px;
}

.ribbonButton .ribbonText{
  opacity:1;
}

.ribbonButton.small .ribbonText{
  opacity:0;
  display:none;
}
