.ribbonButton {
  display:inline-grid;
  width:80px;
  text-align:center;
  position:relative;
  height:70px;
  padding-top:10px;
  padding-bottom:6px;
  color:var(--text);
  cursor:pointer;
  font-size:14px;
  border-radius:4px;
  transition: all 200ms;
  border:1px solid var(--background-grey);
}
.ribbonButton:hover {
  background-color:var(--background-darker-grey);
  transition: all 200ms;
  border:1px solid var(--background-darkest-grey);
}

.ribbonButton:active {
  background-color: var(--background-darkest-grey);
  color:var(--background-grey);
}

.icon {
  font-size:32px;
  margin-top:2px;
}
