.ribbonButton {
  display:inline-grid;
  width:90px;
  text-align:center;
  position:relative;
  height:80px;
  padding-top:6px;
  padding-bottom:6px;
  color:var(--text);
  cursor:pointer;
  border-radius:4px;
  transition: all 200ms;
  border:1px solid var(--background-grey);
  white-space: normal;
}
.ribbonButton:hover {
  background-color:var(--background-darker-grey);
  transition: all 200ms;
  border:1px solid var(--background-darkest-grey);
}

.ribbonButton:active {
  background-color: var(--background-darkest-grey);
}

.ribbonButton:hover .icon{
  color:var(--primary-mid);
  opacity:1;
}
.ribbonButton:hover .iconBackground{
  color:var(--primary-dark);
}
.icon {
  font-size: 32px;
  margin-top: 2px;
  margin-bottom: 0;
  opacity:0;
}
.iconBackground {
  font-size: 32px;
  margin-top: 2px;
  margin-bottom: 0px;
  position:absolute;
  top:6px;
  width:100%;
}

.ribbonButton.small {
  height:32px !important;
  overflow:hidden;
  padding-top:0;
  width:36px;
}
.ribbonButton.small .icon{
  transition: all 0s;
  padding-bottom:20px;
  font-size:24px;
}

.ribbonButton.small .iconBackground{
  transition: all 0s;
  padding-bottom:20px;
  font-size:24px;
  position:absolute;
  width:100%;
  top:0px !important;
}

.ribbonButton .ribbonText{
  opacity:1;
}

.ribbonButton.small .ribbonText{
  opacity:0;
  display:none;
}
