<div class="toolbarContainer">
  <div class="progress-bar progress-bar-danger" *ngIf="danger">&nbsp;</div>
  <div class="titleBarTop">
    <span (click)="about()" style="display:inline-block;cursor:pointer;">
      <i class="logo ow-oceanworks"></i>
      {{ locale.product }}
    </span>
    <span *ngIf="profile">
      <div (click)="build()" class="button" [ngClass]="activeTab === 1 ? 'active' : ''"><i
        class="ow-framework"></i> {{ locale.build }}</div>
      <div (click)="furnish()" class="button" [ngClass]="activeTab === 2 ? 'active' : ''"><i
        class="ow-globe"></i> {{ locale.furnish }}</div>
      <div (click)="view()" class="button" [ngClass]="activeTab === 3 ? 'active' : ''"><i
        class="ow-search"></i> {{ locale.view }}</div>
      </span>
    <div class="titleBarQuickLinks" *ngIf="profile">
      <i class="titleBarQuickLink ow-user"
         (mouseover)="setClass($event, 'titleBarQuickLink ow-user', 'titleBarQuickLink ow-user_over')"
         (mouseout)="setClass($event, 'titleBarQuickLink ow-user', 'titleBarQuickLink ow-user_over')"
      ></i>
      <i class="titleBarQuickLink ow-cog"
         (mouseover)="setClass($event, 'titleBarQuickLink ow-cog', 'titleBarQuickLink ow-cog_over')"
         (mouseout)="setClass($event, 'titleBarQuickLink ow-cog', 'titleBarQuickLink ow-cog_over')"
      ></i>
      <i class="titleBarQuickLink ow-messages"
         (mouseover)="setClass($event, 'titleBarQuickLink ow-messages', 'titleBarQuickLink ow-messages_over')"
         (mouseout)="setClass($event, 'titleBarQuickLink ow-messages', 'titleBarQuickLink ow-messages_over')"
      ><span class="label">6</span></i>
      <i class="titleBarQuickLink ow-menu"
         (mouseover)="setClass($event, 'titleBarQuickLink ow-menu', 'titleBarQuickLink ow-menu_over')"
         (mouseout)="setClass($event, 'titleBarQuickLink ow-menu', 'titleBarQuickLink ow-menu_over')"
      ></i>
    </div>
    <app-search-bar *ngIf="profile"></app-search-bar>
  </div>
  <div class="toolbar" *ngIf="profile">
    <div class="ribbon">
      <table>
        <tr>
          <td valign="top">
            <app-ribbon-button *ngFor="let ribbonItem of ribbonButtons"
                               [ribbonItem]="ribbonItem"
                               [desktopHeight]="desktopHeight"
                               [desktopWidth]="desktopWidth"
                               [size]="size">
            </app-ribbon-button>
          </td>
        </tr>
      </table>
    </div>
    <div *ngIf="objectKeys(menuButtons).length > 0" [ngClass]="size ? 'menuItems' : 'menuItemsBig'">
      <div [ngClass]="size ? 'menu big ow-downArrow' : 'menu ow-downArrow'">
        <span class="label">{{ objectKeys(menuButtons).length }}</span>
        <div class="menuSubTree">
          <div *ngFor="let menuItem of menuButtons"
               (click)="ribbonService.clickAction(menuItem, desktopWidth, desktopHeight)">
            <i class="icon {{ menuItem.icon }}"></i>
            <i class="iconOver {{ menuItem.iconOver }}"></i>
            <span>{{ locale[menuItem.label] || menuItem.label }}</span>
          </div>
        </div>
        <div class="hideBorder"></div>
      </div>
      {{ locale.moreModules }}
    </div>
  </div>
  <span *ngIf="profile" (click)="toggleSize()" (mouseover)="changeStyle($event)" (mouseout)="changeStyle($event)"
        [ngClass]="barWidth" [title]="size ? locale.contractRibbon : locale.expandRibbon"></span>
</div>

