label {
  position:relative;
}

input {
  /*width: calc(100% - 2px);*/
  font-size: 16px;
  margin: 6px;
  position:relative;
  width:150px;
  transition: all 0.2s;
  text-overflow: ellipsis;
  padding: 2px 22px 2px 2px;
  overflow: hidden;
}

input:focus {
  width:300px;
}
.search{
  font-family: 'Window', serif !important;
  position: absolute;
  top: 0;
  right: 8px;
  color: var(--text);
  font-size: 21px;
  margin-top: -4px;
}

.searchResults {
  position: absolute;
  background-color: var(--background-color);
  color: var(--text);
  width: calc(100% - 14px);
  border: 1px solid;
  border-color: var(--background-grey);
  border-top: 0;
  z-index: 99;
  overflow: auto;
  margin: -7px 6px 6px;
  box-shadow: 0 9px 12px -4px rgba(0,0,0,0.18);
}

.searchResults.off {
  opacity: 0;
  transition: all 0.3s;
  max-height: 0;
}

.searchResults.on {
  opacity: 1;
  transition: all 0.3s;
  max-height: 200px;
}

.results {
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
  border-bottom:none;
}

.searchResults div {
  padding:2px 6px 2px 6px;
  margin:4px;
  cursor:pointer;
  font-size:14px;
  border-radius:4px;
}

.selectedItem {
  background-color:var(--primary-light);
}

.highlight {
  text-decoration: underline;
}
i {
  font-size:16px;
  position:relative;
  top:2px;
}

