<h2>This window is full size to hide the canvas, its always on top, No Tab</h2>
<button class="ow-close closeButton" (click)="windowService.close(windowItem)"></button>

<p>Bacon ipsum dolor amet frankfurter bacon anim irure in est venison boudin. Kevin
  porchetta sirloin ad lorem voluptate pork belly aliqua. Veniam capicola in, et sunt occaecat aliqua est elit pork
  consectetur ball tip tenderloin sirloin. Est laborum reprehenderit, cupidatat aliquip shank turducken drumstick
  adipisicing ribeye consectetur. Tenderloin ad hamburger bresaola, sausage consequat ullamco cillum pastrami kielbasa.
  Cillum picanha irure aliquip culpa kevin.</p>
<p>Tempor est tongue, filet mignon swine frankfurter leberkas velit incididunt shank irure proident. Anim esse beef ut
  minim prosciutto cillum. Sed nulla sirloin pancetta turkey dolore pork loin consequat ham hock aute pork belly sint
  shankle ball tip. Pancetta swine chislic minim.</p>
<p>Incididunt leberkas non chicken beef, velit frankfurter est prosciutto. Anim picanha pork loin shankle chuck
  kielbasa. Beef quis shankle capicola dolore tongue biltong short ribs ribeye cupidatat in alcatra dolor consequat
  consectetur. Non ipsum t-bone eu cupidatat filet mignon. Sed lorem burgdoggen alcatra buffalo, ball tip chuck.</p>
<p>Swine labore prosciutto non, pariatur cillum enim flank buffalo. Jowl tri-tip beef ribs turducken, prosciutto pork
  loin hamburger velit cow cillum bresaola in deserunt veniam. Elit pork belly boudin commodo ball tip consectetur
  adipisicing ullamco ut laborum exercitation in. Ad flank non aliqua, frankfurter meatball porchetta corned beef
  pariatur officia pancetta ut. Elit eu turkey commodo ut chuck, jowl in meatloaf. Aute ham hock bacon, anim t-bone
  pork belly tail.</p>
<p>Ball tip kevin pancetta chicken jowl elit tongue pariatur esse nostrud shankle eu laborum. Drumstick aute do
  landjaeger meatloaf non tenderloin veniam nisi. Ea culpa corned beef chicken, short loin pork chop officia. Qui
  porchetta enim occaecat mollit picanha frankfurter ipsum adipisicing laboris sausage tenderloin in jowl.
  Exercitation labore sirloin proident, tail pork belly sed aute fugiat pork loin chicken.</p>
<p>Biltong leberkas ground round, chicken aute brisket culpa. Dolore short ribs hamburger qui mollit, magna aute esse
  swine cupim dolore proident. Buffalo fugiat doner picanha jowl, est meatloaf occaecat sunt kielbasa. Incididunt
  brisket do, porchetta meatball short ribs meatloaf pork belly tenderloin jerky sausage drumstick turducken lorem
  eiusmod. Doner voluptate ut, shoulder labore flank tempor cupidatat tail burgdoggen dolore commodo hamburger
  leberkas ground round.</p>
<p>Culpa dolore kielbasa in voluptate incididunt burgdoggen laboris. Pastrami burgdoggen beef cillum, pork ham hock
  consequat non ea pork loin venison t-bone. Kevin swine incididunt, eiusmod officia laborum adipisicing exercitation
  lorem pork velit spare ribs. Non velit turducken, shankle exercitation ut buffalo do nisi veniam tempor picanha tail
  beef ribs shoulder.</p>
<p>Enim proident labore buffalo, flank ground round porchetta sausage salami consequat meatball tenderloin ut.
  Frankfurter incididunt biltong est labore pork drumstick cillum officia. Adipisicing fatback dolor, kevin buffalo ea
  duis nulla officia bacon excepteur esse voluptate culpa pig. Prosciutto ham ex fugiat brisket do buffalo picanha
  meatball ribeye. Beef ribs non fugiat picanha andouille, in enim jowl ball tip reprehenderit spare ribs.</p>
<p>Meatball biltong pork belly cow. Ribeye deserunt biltong, meatball veniam cupidatat swine bacon tail t-bone. Tempor
  filet mignon sed laboris. Ut kielbasa quis sunt pork belly turducken laborum nostrud sed occaecat. Incididunt pig
  duis ham hock tempor. Capicola flank pariatur magna.</p>
<p>Beef shoulder aliqua, in ham hock strip steak tempor commodo duis. Adipisicing kielbasa velit, rump cupim t-bone
  burgdoggen chuck consectetur reprehenderit officia nisi bacon ex. Anim alcatra proident in ut. Officia picanha
  doner, aliquip sint labore sunt enim in magna eu anim et. Dolor pork chop sirloin turkey, pig fugiat culpa velit
  sunt kevin.</p>

<p>Bacon ipsum dolor amet frankfurter bacon anim irure in est venison boudin. Kevin
  porchetta sirloin ad lorem voluptate pork belly aliqua. Veniam capicola in, et sunt occaecat aliqua est elit pork
  consectetur ball tip tenderloin sirloin. Est laborum reprehenderit, cupidatat aliquip shank turducken drumstick
  adipisicing ribeye consectetur. Tenderloin ad hamburger bresaola, sausage consequat ullamco cillum pastrami kielbasa.
  Cillum picanha irure aliquip culpa kevin.</p>
<p>Tempor est tongue, filet mignon swine frankfurter leberkas velit incididunt shank irure proident. Anim esse beef ut
  minim prosciutto cillum. Sed nulla sirloin pancetta turkey dolore pork loin consequat ham hock aute pork belly sint
  shankle ball tip. Pancetta swine chislic minim.</p>
<p>Incididunt leberkas non chicken beef, velit frankfurter est prosciutto. Anim picanha pork loin shankle chuck
  kielbasa. Beef quis shankle capicola dolore tongue biltong short ribs ribeye cupidatat in alcatra dolor consequat
  consectetur. Non ipsum t-bone eu cupidatat filet mignon. Sed lorem burgdoggen alcatra buffalo, ball tip chuck.</p>
<p>Swine labore prosciutto non, pariatur cillum enim flank buffalo. Jowl tri-tip beef ribs turducken, prosciutto pork
  loin hamburger velit cow cillum bresaola in deserunt veniam. Elit pork belly boudin commodo ball tip consectetur
  adipisicing ullamco ut laborum exercitation in. Ad flank non aliqua, frankfurter meatball porchetta corned beef
  pariatur officia pancetta ut. Elit eu turkey commodo ut chuck, jowl in meatloaf. Aute ham hock bacon, anim t-bone
  pork belly tail.</p>
<p>Ball tip kevin pancetta chicken jowl elit tongue pariatur esse nostrud shankle eu laborum. Drumstick aute do
  landjaeger meatloaf non tenderloin veniam nisi. Ea culpa corned beef chicken, short loin pork chop officia. Qui
  porchetta enim occaecat mollit picanha frankfurter ipsum adipisicing laboris sausage tenderloin in jowl.
  Exercitation labore sirloin proident, tail pork belly sed aute fugiat pork loin chicken.</p>
<p>Biltong leberkas ground round, chicken aute brisket culpa. Dolore short ribs hamburger qui mollit, magna aute esse
  swine cupim dolore proident. Buffalo fugiat doner picanha jowl, est meatloaf occaecat sunt kielbasa. Incididunt
  brisket do, porchetta meatball short ribs meatloaf pork belly tenderloin jerky sausage drumstick turducken lorem
  eiusmod. Doner voluptate ut, shoulder labore flank tempor cupidatat tail burgdoggen dolore commodo hamburger
  leberkas ground round.</p>
<p>Culpa dolore kielbasa in voluptate incididunt burgdoggen laboris. Pastrami burgdoggen beef cillum, pork ham hock
  consequat non ea pork loin venison t-bone. Kevin swine incididunt, eiusmod officia laborum adipisicing exercitation
  lorem pork velit spare ribs. Non velit turducken, shankle exercitation ut buffalo do nisi veniam tempor picanha tail
  beef ribs shoulder.</p>
<p>Enim proident labore buffalo, flank ground round porchetta sausage salami consequat meatball tenderloin ut.
  Frankfurter incididunt biltong est labore pork drumstick cillum officia. Adipisicing fatback dolor, kevin buffalo ea
  duis nulla officia bacon excepteur esse voluptate culpa pig. Prosciutto ham ex fugiat brisket do buffalo picanha
  meatball ribeye. Beef ribs non fugiat picanha andouille, in enim jowl ball tip reprehenderit spare ribs.</p>
<p>Meatball biltong pork belly cow. Ribeye deserunt biltong, meatball veniam cupidatat swine bacon tail t-bone. Tempor
  filet mignon sed laboris. Ut kielbasa quis sunt pork belly turducken laborum nostrud sed occaecat. Incididunt pig
  duis ham hock tempor. Capicola flank pariatur magna.</p>
<p>Beef shoulder aliqua, in ham hock strip steak tempor commodo duis. Adipisicing kielbasa velit, rump cupim t-bone
  burgdoggen chuck consectetur reprehenderit officia nisi bacon ex. Anim alcatra proident in ut. Officia picanha
  doner, aliquip sint labore sunt enim in magna eu anim et. Dolor pork chop sirloin turkey, pig fugiat culpa velit
  sunt kevin.</p>

<p>Bacon ipsum dolor amet frankfurter bacon anim irure in est venison boudin. Kevin
  porchetta sirloin ad lorem voluptate pork belly aliqua. Veniam capicola in, et sunt occaecat aliqua est elit pork
  consectetur ball tip tenderloin sirloin. Est laborum reprehenderit, cupidatat aliquip shank turducken drumstick
  adipisicing ribeye consectetur. Tenderloin ad hamburger bresaola, sausage consequat ullamco cillum pastrami kielbasa.
  Cillum picanha irure aliquip culpa kevin.</p>
<p>Tempor est tongue, filet mignon swine frankfurter leberkas velit incididunt shank irure proident. Anim esse beef ut
  minim prosciutto cillum. Sed nulla sirloin pancetta turkey dolore pork loin consequat ham hock aute pork belly sint
  shankle ball tip. Pancetta swine chislic minim.</p>
<p>Incididunt leberkas non chicken beef, velit frankfurter est prosciutto. Anim picanha pork loin shankle chuck
  kielbasa. Beef quis shankle capicola dolore tongue biltong short ribs ribeye cupidatat in alcatra dolor consequat
  consectetur. Non ipsum t-bone eu cupidatat filet mignon. Sed lorem burgdoggen alcatra buffalo, ball tip chuck.</p>
<p>Swine labore prosciutto non, pariatur cillum enim flank buffalo. Jowl tri-tip beef ribs turducken, prosciutto pork
  loin hamburger velit cow cillum bresaola in deserunt veniam. Elit pork belly boudin commodo ball tip consectetur
  adipisicing ullamco ut laborum exercitation in. Ad flank non aliqua, frankfurter meatball porchetta corned beef
  pariatur officia pancetta ut. Elit eu turkey commodo ut chuck, jowl in meatloaf. Aute ham hock bacon, anim t-bone
  pork belly tail.</p>
<p>Ball tip kevin pancetta chicken jowl elit tongue pariatur esse nostrud shankle eu laborum. Drumstick aute do
  landjaeger meatloaf non tenderloin veniam nisi. Ea culpa corned beef chicken, short loin pork chop officia. Qui
  porchetta enim occaecat mollit picanha frankfurter ipsum adipisicing laboris sausage tenderloin in jowl.
  Exercitation labore sirloin proident, tail pork belly sed aute fugiat pork loin chicken.</p>
<p>Biltong leberkas ground round, chicken aute brisket culpa. Dolore short ribs hamburger qui mollit, magna aute esse
  swine cupim dolore proident. Buffalo fugiat doner picanha jowl, est meatloaf occaecat sunt kielbasa. Incididunt
  brisket do, porchetta meatball short ribs meatloaf pork belly tenderloin jerky sausage drumstick turducken lorem
  eiusmod. Doner voluptate ut, shoulder labore flank tempor cupidatat tail burgdoggen dolore commodo hamburger
  leberkas ground round.</p>
<p>Culpa dolore kielbasa in voluptate incididunt burgdoggen laboris. Pastrami burgdoggen beef cillum, pork ham hock
  consequat non ea pork loin venison t-bone. Kevin swine incididunt, eiusmod officia laborum adipisicing exercitation
  lorem pork velit spare ribs. Non velit turducken, shankle exercitation ut buffalo do nisi veniam tempor picanha tail
  beef ribs shoulder.</p>
<p>Enim proident labore buffalo, flank ground round porchetta sausage salami consequat meatball tenderloin ut.
  Frankfurter incididunt biltong est labore pork drumstick cillum officia. Adipisicing fatback dolor, kevin buffalo ea
  duis nulla officia bacon excepteur esse voluptate culpa pig. Prosciutto ham ex fugiat brisket do buffalo picanha
  meatball ribeye. Beef ribs non fugiat picanha andouille, in enim jowl ball tip reprehenderit spare ribs.</p>
<p>Meatball biltong pork belly cow. Ribeye deserunt biltong, meatball veniam cupidatat swine bacon tail t-bone. Tempor
  filet mignon sed laboris. Ut kielbasa quis sunt pork belly turducken laborum nostrud sed occaecat. Incididunt pig
  duis ham hock tempor. Capicola flank pariatur magna.</p>
<p>Beef shoulder aliqua, in ham hock strip steak tempor commodo duis. Adipisicing kielbasa velit, rump cupim t-bone
  burgdoggen chuck consectetur reprehenderit officia nisi bacon ex. Anim alcatra proident in ut. Officia picanha
  doner, aliquip sint labore sunt enim in magna eu anim et. Dolor pork chop sirloin turkey, pig fugiat culpa velit
  sunt kevin.</p>
<div>END</div>
