<div *ngFor="let notificationItem of objectKeys(notificationList)"
     [ngClass]="['notification',  notificationList[notificationItem].class]"
     (transitionend)="closedNotification(notificationList[notificationItem])"
     (click)="clickHandler(notificationList[notificationItem])"
     (mouseover)="pauseTimer(notificationList[notificationItem])"
     (mouseout)="restartTimer(notificationList[notificationItem])"
>
  <div class="container">
    <div class="timer"
         *ngIf="notificationList[notificationItem].timeRemaining > 0">{{ notificationList[notificationItem].timeRemaining}}</div>
    <table>
      <tr>
        <td *ngIf="notificationList[notificationItem].icon.match('ow-')">
          <i class="{{ notificationList[notificationItem].icon }}"></i>
        </td>
        <td *ngIf="notificationList[notificationItem].icon.match('jpeg')">
          <div class="notificationImageContainer">
            <img src="{{ notificationList[notificationItem].icon }}" alt="" class="notificationImage">
          </div>
        </td>
        <td class="text">
          {{ notificationList[notificationItem].title }}
        </td>
      </tr>
    </table>
    <i class="ow-close" (click)="close(notificationList[notificationItem])"></i>
  </div>
</div>
