<div *ngFor="let notificationItem of objectKeys(notificationList)"
     (transitionend)="closedNotification(notificationList[notificationItem])"
     [ngClass]="['notification',  notificationList[notificationItem].class]"
     (click)="clickHandler(notificationList[notificationItem])"
     (mouseover)="pauseTimer(notificationList[notificationItem])"
     (mouseout)="restartTimer(notificationList[notificationItem])"
>
  <div class="container">
    <div class="timer"
         *ngIf="notificationList[notificationItem].timeRemaining > 0">{{ notificationList[notificationItem].timeRemaining}}</div>
    <table>
      <tr>
        <td>
          <i class="{{ notificationList[notificationItem].icon }}"></i>
        </td>
        <td>
          {{ notificationList[notificationItem].title }}
        </td>
      </tr>
    </table>
    <i class="ow-close" (click)="close(notificationList[notificationItem])"></i>
  </div>
</div>
