{{ locale.contactManager }}
<br>
<br>
Lazy Loaded ! (check the network tab)
<br>
Window Body ::: {{ windowItem }}
<br>
<br>
<button (click)="addWindow()">Open Quotes {{ id }}</button>
<button (click)="closeWindow()">{{ locale.window.close }}</button>
<button (click)="maximiseWindow()">{{ locale.window.maximise }}</button>
<select [(ngModel)]="option">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
</select>

{{ option | json }}

<!--  <div style="width:calc(100% - 400px);left:200px;position:absolute;bottom:0;height:200px;">-->
<!--    <app-slider-->
<!--      [min]="0"-->
<!--      [max]="1000"-->
<!--      [val]="400"-->
<!--      [val2]="900"-->
<!--      [input]="'o'"-->
<!--      [input2]="'o2'"-->
<!--      [steps]="10"-->
<!--      [callBack]="null"-->
<!--      [direction]="'vertical'"-->
<!--      [inverted]="false"-->
<!--      [class]="'small'"-->
<!--      [type]="'range'"-->
<!--    ></app-slider>-->
<!--    <div style="display:inline-block;width:30%;padding:12px;margin-left:20px;">-->
<!--      <app-slider-->
<!--        [min]="0"-->
<!--        [max]="1000"-->
<!--        [val]="400"-->
<!--        [val2]="900"-->
<!--        [input]="'one'"-->
<!--        [input2]="'one2'"-->
<!--        [steps]="10"-->
<!--        [callBack]="null"-->
<!--        [direction]="'horizontal'"-->
<!--        [inverted]="false"-->
<!--        [class]="'small'"-->
<!--        [type]="'range'"-->
<!--      ></app-slider>-->
<!--    </div>-->
<!--    <div style="display:inline-block;width:30%;padding:12px;">-->
<!--      <app-slider-->
<!--        [min]="0"-->
<!--        [max]="1000"-->
<!--        [val]="400"-->
<!--        [input]="'two'"-->
<!--        [steps]="1"-->
<!--        [callBack]="null"-->
<!--        [direction]="'horizontal'"-->
<!--        [inverted]="false"-->
<!--        [class]="'small'"-->
<!--      ></app-slider>-->
<!--    </div>-->
<!--    <div style="display:inline-block;width:30%;padding:12px;">-->
<!--      <app-slider-->
<!--        [min]="0"-->
<!--        [max]="10"-->
<!--        [val]="2"-->
<!--        [val2]="6"-->
<!--        [input]="'three'"-->
<!--        [input2]="'three2'"-->
<!--        [steps]="1"-->
<!--        [callBack]="null"-->
<!--        [direction]="'horizontal'"-->
<!--        [inverted]="false"-->
<!--        [class]="'small'"-->
<!--        [type]="'range'"-->
<!--      ></app-slider>-->
<!--    </div>    <div style="display:inline-block;width:30%;padding:12px;margin-left:20px;">-->
<!--    <app-slider-->
<!--      [min]="0"-->
<!--      [max]="1000"-->
<!--      [val]="400"-->
<!--      [val2]="900"-->
<!--      [input]="'o2ne'"-->
<!--      [input2]="'2one2'"-->
<!--      [steps]="10"-->
<!--      [callBack]="null"-->
<!--      [direction]="'horizontal'"-->
<!--      [inverted]="false"-->
<!--      [class]="'small'"-->
<!--      [type]="'range'"-->
<!--    ></app-slider>-->
<!--  </div>-->
<!--    <div style="display:inline-block;width:30%;padding:12px;">-->
<!--      <app-slider-->
<!--        [min]="0"-->
<!--        [max]="10"-->
<!--        [val]="4"-->
<!--        [input]="'2two'"-->
<!--        [steps]="1"-->
<!--        [callBack]="null"-->
<!--        [direction]="'horizontal'"-->
<!--        [inverted]="false"-->
<!--        [class]="'small'"-->
<!--      ></app-slider>-->
<!--    </div>-->
<!--    <div style="display:inline-block;width:30%;padding:12px;">-->
<!--      <app-slider-->
<!--        [min]="0"-->
<!--        [max]="10"-->
<!--        [val]="2"-->
<!--        [val2]="6"-->
<!--        [input]="'2three'"-->
<!--        [input2]="'2three2'"-->
<!--        [steps]="1"-->
<!--        [callBack]="null"-->
<!--        [direction]="'horizontal'"-->
<!--        [inverted]="false"-->
<!--        [class]="'small'"-->
<!--        [type]="'range'"-->
<!--      ></app-slider>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div style="margin:30px;">-->
<!--    <app-slider-->
<!--      [min]="0"-->
<!--      [max]="1000"-->
<!--      [val]="200"-->
<!--      [val2]="600"-->
<!--      [input]="'2three'"-->
<!--      [input2]="'2three2'"-->
<!--      [steps]="1"-->
<!--      [callBack]="null"-->
<!--      [direction]="'horizontal'"-->
<!--      [inverted]="false"-->
<!--      [class]="'heat'"-->
<!--      [type]="'range'"-->
<!--    ></app-slider>-->
<!--  </div>-->
