<div class="loginDialog">
  <div class="container">
    <label for="language">
      <select [(ngModel)]="language" name="language" id="language" (ngModelChange)="languageChange($event)" class="languageSelector">
        <option value="lang_en">{{ locale.lang_en }}</option>
        <option value="lang_fr">{{ locale.lang_fr }}</option>
        <option value="lang_de">{{ locale.lang_de }}</option>
        <option value="lang_no">{{ locale.lang_no }}</option>
        <option value="lang_ru">{{ locale.lang_ru }}</option>
        <option value="lang_nl">{{ locale.lang_nl }}</option>
        <option value="lang_es">{{ locale.lang_es }}</option>
        <option value="lang_it">{{ locale.lang_it }}</option>
        <option value="lang_da">{{ locale.lang_da }}</option>
        <option value="lang_sv">{{ locale.lang_sv }}</option>
        <option value="lang_pt">{{ locale.lang_pt }}</option>
        <option value="lang_fi">{{ locale.lang_fi }}</option>
        <option value="lang_zh">{{ locale.lang_zh }}</option>
        <option value="lang_pl">{{ locale.lang_pl }}</option>
        <option value="lang_ro">{{ locale.lang_ro }}</option>
        <option value="lang_la">{{ locale.lang_la }}</option>
      </select>
    </label>
    <i class="ow-oceanworks"></i>
    <i class="ow-oceanworks back"></i>
    <div class="product">
      <h1> {{ locale.product }}</h1>
      <div>v {{ version.version }} ({{ version.hash }})</div>
    </div>
    <div class="loginForm">
<!--      <div *ngIf="error" class="error" id="error">{{ locale[error] }}</div>-->

      <form (ngSubmit)="login()">
        <div>
          <label for="username" [innerHTML]="locale.username"></label>
        </div>
        <div>
          <input type="text" [(ngModel)]="username" id="username" name="username">
        </div>
        <div>
          <label for="password" [innerHTML]="locale.password"></label>
        </div>
        <div>
          <input type="password" [(ngModel)]="password" id="password" name="password">
        </div>
        <div>
          <button type="submit" [innerHTML]="locale.login"></button>
        </div>
      </form>

    </div>
  </div>
</div>
