.closed, .new {
  opacity: 0;
  transition: opacity 200ms, width 200ms, height, 200ms;
  padding: 0;
  height: 0;
}

.open {
  opacity: 1;
  transition: opacity 200ms, width 200ms, height, 200ms;
}

.windowItem {
  border: 1px solid var(--background-darker-grey);
  background-color: var(--background-grey);
  height: 100%;
  width: 100%;
  padding: 4px;
  border-radius: 4px;
  position: absolute;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.windowItem div {
  opacity: 1;
}

.titleBar {
  background-color: var(--background-grey);
  height: 32px;
  padding: 4px;
  border-radius: 3px;
  transition: all 0.3s;
  cursor: move;
  color: var(--text);
}

.titleBarIcon {
  font-size: 21px;
  position: relative;
  top: 1px;
}

.titleBarText {
  display: inline-block;
  line-height: 0;
  position: relative;
  top: -3px;
  left: 5px;
  width: calc(100% - 80px);
}

.singleIcon {
  width: calc(100% - 56px);
}

.doubleIcon {
  width: calc(100% - 118px);
}

.active .titleBar {
  background-color: var(--primary);
  color: var(--background-color);
  transition: opacity 200ms, width 200ms, height, 200ms;
}

.active {
  box-shadow: var(--box-shadow);
}

.active .titleBarText {
  font-weight: 600;
}

.windowButton {
  border: none;
  background-color: var(--primary-mid);
  border-radius: 4px;
  min-width: 20px;
  min-height: 20px;
  color: var(--background-color);
  float: right;
  padding: 0;
  cursor: pointer;
  position: relative;
  transition: opacity 200ms, width 200ms, height, 200ms;
  margin: 2px;
}

.active button {
  transition: opacity 200ms, width 200ms, height, 200ms;

}

.noTransition {
  transition: all 0s;
  box-shadow: none;
}

.clientArea {
  height: calc(100% - 36px);
  width: 100%;
  background-color: var(--background-color);
  border-radius: 3px;
  margin-top: 4px;
  overflow: auto;
  color: var(--text);
}

.maximised {
  border-radius: 0;
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  border: none;
  box-shadow: none;
}


.maximised .titleBar {
  border-radius: 0;
  border: 0;
  cursor: default !important;
}

.minimised {
  top: 100% !important;
  width: 100px !important;
  opacity: 0;
}

.fullHeight {
  height: 100%;
  margin-top: 0;
}

.alerted {
  animation: colorchange 2s infinite ease-in-out;
  -webkit-animation: colorchange 2s infinite ease-in-out;
}

.active .alerted {
  animation: colorchangeActive 2s infinite ease-in-out;
  -webkit-animation: colorchangeActive 2s infinite ease-in-out;
}

@keyframes colorchange {
  0% {
    background: var(--background-grey);
    color:var(--text);
  }
  10% {
    background: var(--alerted);
    color:white;
  }
  20% {
    background: var(--background-grey);
    color:var(--text);
  }
  30% {
    background: var(--alerted);
    color:white;
  }
  40% {
    background: var(--background-grey);
    color:var(--text);
  }
  100% {
    background: var(--background-grey);
    color:var(--text);
  }
}

@keyframes colorchangeActive {
  0% {
    background: var(--primary);
  }
  10% {
    background: var(--alerted);
  }
  20% {
    background: var(--primary);
  }
  30% {
    background: var(--alerted);
  }
  40% {
    background: var(--primary);
  }
  100% {
    background: var(--primary);
  }
}
