.closed, .new {
  opacity: 0;
  transition: opacity 200ms, width 200ms, height, 200ms;
}

.open {
  opacity: 1;
  transition: opacity 200ms, width 200ms, height, 200ms;
}

.tabItem {
  display: inline-block;
  padding: 4px;
  margin: 4px;
  border-radius: 4px;
  background-color: var(--background-grey);
  cursor: pointer;
  max-width: 180px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  color: var(--text);
  position: relative;
}

.tabItem .text {
  width: calc(100% - 64px);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  position: absolute;
  top: 7px;
  left: 28px;
  font-size: 14px;
}

.tabItemIcon {
  font-size: 21px;
  position: relative;
  top: 1px;
}

.active {
  color: var(--background-color);
  background-color: var(--primary-mid);
  font-weight: 600;
}

.tabButton {
  border: none;
  background-color: var(--primary-mid);
  border-radius: 4px;
  min-width: 20px;
  min-height: 20px;
  color: var(--background-color);
  padding: 0;
  float: right;
  cursor: pointer;
  position: relative;
  transition: opacity 200ms, width 200ms, height, 200ms;
  margin: 2px;
}

.active button {
  color: var(--primary);
  background-color: var(--background-color);
  transition: opacity 200ms, width 200ms, height, 200ms;

}

.minimised {
  border-bottom: 4px solid orange;
  border-bottom-style: inset;
  padding-bottom: 0;
}

.minimised * {
  border: none;
}

.label {
  color: white;
  position: absolute;
  background-color: red;
  border-radius: 10px;
  padding: 2px;
  right: -8px;
  top: -8px;
  min-width: 22px;
  height: 22px;
  text-align: center;
  font-size: 11px;
  line-height: 16px;
  border: 1px solid #660000;
  font-weight: 400;
}

/*.alerted {*/
/*  animation: colorchange 2s infinite;*/
/*  -webkit-animation: colorchange 2s infinite;*/
/*}*/
/*@keyframes colorchange*/
/*{*/
/*  0%   {background: var(--primary);}*/
/*  50%  {background: var(--primary-light);}*/
/*  100% {background: var(--primary);}*/
/*}*/

/*.active.alerted {*/
/*  animation: colorchangeActive 2s infinite ease-in-out;*/
/*  -webkit-animation: colorchangeActive 2s infinite ease-in-out;*/
/*}*/

.alerted {
  animation: colorchange 2s infinite ease-in-out;
  -webkit-animation: colorchange 2s infinite ease-in-out;
}

.alerted.active {
  animation: colorchangeTabActive 2s infinite ease-in-out;
  -webkit-animation: colorchangeTabActive 2s infinite ease-in-out;
}

@keyframes colorchange {
  0% {
    background: var(--background-grey);
  }
  10% {
    background: var(--alerted)
  }
  20% {
    background: var(--background-grey);
  }
  30% {
    background: var(--alerted);
  }
  40% {
    background: var(--background-grey);
  }
  100% {
    background: var(--background-grey);
  }
}

@keyframes colorchangeTabActive {
  0% {
    background: var(--primary-mid);
  }
  10% {
    background: var(--alerted)
  }
  20% {
    background: var(--primary-mid);
  }
  30% {
    background: var(--alerted);
  }
  40% {
    background: var(--primary-mid);
  }
  100% {
    background: var(--primary-mid);
  }
}
