.toolbarContainer {
  position: relative;
}

.titleBarTop {
  background-color: var(--primary);
  left: 0;
  line-height: 30px;
  padding: 0 0 0 8px;
  color: white;
  height: 36px;
}

.titleBarTop span {
  display: inline-block;
  padding-left: 6px;
}

.toolbar {
  background-color: var(--background-grey);
  color: var(--text);
  position: relative;
  border-bottom: 1px solid;
  border-color: var(--background-darkest-grey);
  white-space: nowrap;
  width: 100%;
}

.icon {
  font-family: 'Window', serif;
}

.iconBackground {
  font-family: 'Window', serif;
  position: absolute;
  top: 0;
}

.ribbon {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

app-search-bar {
  /*position: absolute;*/
  /*right: 0;*/
  float: right;
  position: relative;
}

.toolChange {
  text-align: center;
  width: 30px;
  height: 19px;
  position: absolute;
  right: calc(50% - 15px);
  z-index: 99999;
  font-size: 18px;
  background-color: var(--background-grey);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  transition: all 400ms;
  border: 1px solid;
  border-top: 0;
  border-color: var(--background-darkest-grey);
  bottom: -18px;
  color: var(--text);
}

.toolChangeWide {
  width: 100%;
  right: 0;
}

.menuItems {
  display: inline-grid;
  position: absolute;
  top: 4px;
  right: 7px;
  width: 86px;
  text-align: center;
  height: 86px;
  white-space: normal;
}

.menuItemsBig {
  display: inline-grid;
  position: absolute;
  top: 5px;
  right: 6px;
  width: 57px;
  text-align: left;
  height: 86px;
  white-space: normal;
}

.menu {
  background-color: var(--primary);
  border-radius: 6px;
  width: 26px;
  height: 26px;
  color: var(--background-color);
  font-size: 19px;
  padding: 3px;
  border: 1px solid var(--primary);
  transition: all 300ms;
  left: 30px;
  position: relative;
}

.big.menu {
  background-color: var(--primary);
  border-radius: 6px;
  width: 32px;
  height: 32px;
  color: var(--background-color);
  font-size: 19px;
  padding: 3px;
  border: 1px solid var(--primary);
  -webkit-transition: all 300ms;
  transition: all 300ms;
  left: 28px;
  position: relative;
  line-height: 26px;
}

.menu {

}

.menu .label {
  color: var(--text);
  position: absolute;
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 2px 2px 3px 2px;
  left: 15px;
  top: -7px;
  min-width: 18px;
  height: 20px;
  text-align: center;
  font-size: 11px;
  border: 1px solid;
  border-color: var(--primary);
  line-height: 13px;
}


.big {
  top: 7px;
  right: 28px;
}

.big .label {
  left: 16px;
  top: -8px;
}

.menu:hover, .menuItems:hover .menu {
  color: var(--text);
  background-color: var(--background-color);
  height: 32px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid var(--background-darkest-grey);
  border-bottom: 0;
  z-index: 98;
  transition: all 300ms;
}

.menuSubTree {
  position: absolute;
  top: 30px;
  width: 0;
  right: -1px;
  word-wrap: initial;
  overflow: auto;
  max-height: 0;
  transition: all 300ms;
  border: 1px solid;
  border-color: transparent;
  border-radius: 4px;
  text-align: left;
  border-top-right-radius: 0;
}

.hideBorder {
  width: 29px;
  position: absolute;
  top: 30px;
  opacity: 0;
  height: 2px;
  right: 0px;
  background-color: var(--background-color);
  z-index: 999;
  display: none;
}

.menuItems:hover .hideBorder {
  display: inline;
  top: 30px;
  opacity: 1
}

.menuItems:hover .menuSubTree, .menu:hover .menuSubTree {
  max-height: 200px;
  width: 200px;
  transition: all 300ms;
  border: 1px solid;
  background-color: var(--background-color);
  border-color: var(--background-darkest-grey);
  box-shadow: 0 9px 12px -4px rgba(0, 0, 0, 0.18);
  z-index: 98;

}

.menuSubTree div {
  display: block;
  color: var(--text);
  font-size: 14px;
  line-height: 24px;
  border-radius: 4px;
  transition: all 200ms;
  cursor: pointer;
  padding: 2px 6px 2px 6px;
  margin: 4px;
}

.menuSubTree div:hover {
  background-color: var(--primary-light);
  transition: all 200ms;
}

.iconOver {
  display: none;
}

.menuSubTree div:hover .iconOver {
  display: inline;
}

.menuSubTree div:hover .icon {
  display: none;
}

.menuSubTree div i {
  font-size: 18px;
  position: relative;
  top: 1px;
}

.menuSubTree div span {
  position: relative;
  top: -2px;
  left: 4px;
}

.menuItemsBig .menuSubTree {
  border-top-right-radius: 0;
}

.menuItemsBig .hideBorder {
  background-color: white;
  display: inline;
  z-index: 99999999999;
  right: 0.5px;
  top: 25px;
  width: 25px;
  opacity: 0;
}

.menu:hover .hideBorder {
  opacity: 1;
}

.menuItemsBig .menuSubTree {
  right: -1px;
  top: 25px;
}

.logo {
  font-size: 26px;
  line-height: 26px;
  color: white;
  position: relative;
  top: 5px;
}

.titleBarQuickLinks {
  color: var(--background-grey);
  display: inline-block;
  float: right;
  transition: all 300ms;
}

.titleBarQuickLink {
  font-size: 20px;
  line-height: 20px;
  position: relative;
  top: 7px;
  margin: 0 8px 0 8px;
  transition: all 300ms;
  cursor: pointer;
}

.titleBarQuickLink:hover {
  color: white;
}

.titleBarQuickLink .label {
  color: white;
  position: absolute;
  background-color: red;
  border-radius: 10px;
  padding: 0;
  left: 14px;
  top: -5px;
  min-width: 16px;
  height: 16px;
  text-align: center;
  font-size: 11px;
  line-height: 16px;
  border: 1px solid #660000;
}


@keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}

.progress-bar {
  animation: progress-bar-stripes 300ms linear infinite;
}

.button:first-child {
  margin-left: 16px;
}

.button {
  cursor: pointer;
  display: inline-block;
  padding: 0 12px 4px 12px;
  margin-top: 4px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.button.active {
  background-color: var(--background-grey);
  color: var(--text);
}

.progress-bar {
  background-image: linear-gradient(-45deg,
  rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%,
  rgba(255, 255, 255, 0.15) 50%,
  rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}

.progress-bar-danger {
  background-color: #efa50e;
}

@media only screen and (max-width: 600px) {

}
