.toolbarContainer {
  position:relative;
}
.titleBarTop {
  background-color: var(--primary);
  left: 0;
  line-height: 28px;
  padding: 0 0 0 8px;
  color: white;
  height: 36px;
}

.titleBarTop span {
  display: inline-block;
  padding: 4px;
}

.toolbar {
  background-color: var(--background-grey);
  color: var(--text);
  position: relative;
  border-bottom:1px solid;
  border-color:var(--background-darkest-grey);
  white-space: nowrap;
  overflow:auto;
  width:100%;
}

.icon {
  font-family: 'Window', serif;
}

.ribbon {
}

app-search-bar {
  float: right;
  position: relative;
}

.toolChange {
  text-align: center;
  width: 30px;
  height:19px;
  position: absolute;
  right: calc(50% - 15px);
  z-index: 99999;
  font-size: 18px;
  background-color: var(--background-grey);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  transition: all 400ms;
  border:1px solid;
  border-top:0;
  border-color:var(--background-darkest-grey);
  bottom:-18px;
  color:var(--text);
}

.toolChangeWide {
  width: 100%;
  right: 0;
}
