<div class="toolbarContainer">
  <div class="titleBarTop">
    <span>This is a Playground, click the buttons below for demonstrations</span>
    <app-search-bar></app-search-bar>
  </div>
  <div class="toolbar">
    <div class="ribbon">
      <table>
        <tr>
          <td valign="top">
            <app-ribbon-button *ngFor="let ribbonItem of objectKeys(ribbonButtons)" [ribbonItem]="ribbonButtons[ribbonItem]" [desktopHeight]="desktopHeight" [desktopWidth]="desktopWidth" [size]="size">

            </app-ribbon-button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <span (click)="toggleSize()" (mouseover)="changeStyle($event)" (mouseout)="changeStyle($event)" [ngClass]="barWidth" [title]="size ? locale.contractRibbon : locale.expandRibbon"></span>
</div>

