<div class="profileImage">
  <img [src]="profile.image | safeHtml" class="profileImage" alt="">
  <div class="label" *ngIf="profile.id > 0"></div>
  <div class="userMenu" *ngIf="profile.id > 0">
    <img [src]="profile.image | safeHtml" class="profileImageMenu" alt="">
    <span class="label"></span>
    <div>
      <span class="profileName">{{ profile.name }}</span>
      <span class="profileStatus">{{ profile.status }}</span>
    </div>
    <hr>
    <div class="hover"><span class="online dot"></span> {{ locale.online }}</div>
    <div class="hover"><span class="busy dot"></span> {{ locale.busy }}</div>
    <div class="hover"><span class="away dot"></span> {{ locale.away }}</div>
    <div class="hover"><span class="offline dot"></span>  {{ locale.offline }}</div>
    <hr>
    <div (mouseover)="setClass($event, 'ow-user menuIcon hover', 'ow-user_over menuIcon hover')"
         (mouseout)="setClass($event, 'ow-user menuIcon hover', 'ow-user_over menuIcon hover')" class="ow-user menuIcon hover">
      <span>{{locale.profile}}</span>
    </div>
    <div (mouseover)="setClass($event, 'ow-lock_closed menuIcon hover', 'ow-lock_open menuIcon hover')"
         (mouseout)="setClass($event, 'ow-lock_closed menuIcon hover', 'ow-lock_open menuIcon hover')" class="ow-lock_closed menuIcon hover">
      <span>{{locale.logout}}</span>
    </div>
  </div>
</div>
