<div class="profileImage" *ngIf="profile.id > 0">
  <img [src]="profile.image | safeHtml" class="profileImage" alt="{{ profile.name }}" id="profileImage">
  <div class="label" [ngClass]="profile.active" *ngIf="profile.id > 0" id="profileLabel"></div>
  <div class="userMenu" *ngIf="profile.id > 0" id="userMenu" [ngClass]="{'on': editStatus}">

    <div>
      <span class="profileName">{{ profile.name }}</span>
      <input type="text" name="status" class="statusBox"
             [(ngModel)]="status" value="{{ profile.status }}"
             *ngIf="editStatus" (blur)="editStatus = false" (keypress)="checkStatusKeys($event)" autofocus>
      <div class="profileStatusText" (click)="editStatus = true" *ngIf="!editStatus">{{ profile.status }}</div>

    </div>
    <img [src]="profile.image | safeHtml" class="profileImageMenu" alt="{{ profile.name }}"
         (mouseover)="imageChange = true" (mouseout)="imageChange = false">
    <div class="imageChange" [ngClass]="{'on': imageChange}" (mouseover)="imageChange = true"
         (mouseout)="imageChange = false" (click)="fileInput.click()">{{ locale.changeImage }}</div>

    <input
      style="display: none"
      type="file" (change)="changeProfileImage($event)"
      #fileInput>

    <span class="label" [ngClass]="profile.active"></span>

    <hr>
    <div class="hover" (click)="setActive('online')"><span class="online dot"></span> {{ locale.online }}</div>
    <div class="hover" (click)="setActive('busy');"><span class="busy dot"></span> {{ locale.busy }}</div>
    <div class="hover" (click)="setActive('away');"><span class="away dot"></span> {{ locale.away }}</div>
    <div class="hover" (click)="setActive('offline');"><span class="offline dot"></span>  {{ locale.offline }}</div>
    <hr>
    <div (click)="openProfile()"
         (mouseover)="setClass($event, 'ow-user menuIcon hover', 'ow-user_over menuIcon hover')"
         (mouseout)="setClass($event, 'ow-user menuIcon hover', 'ow-user_over menuIcon hover')"
         class="ow-user menuIcon hover">
      <span>{{locale.profile}}</span>
    </div>
    <div (click)="logout()"
         (mouseover)="setClass($event, 'ow-lock_closed menuIcon hover', 'ow-lock_open menuIcon hover')"
         (mouseout)="setClass($event, 'ow-lock_closed menuIcon hover', 'ow-lock_open menuIcon hover')"
         class="ow-lock_closed menuIcon hover">
      <span>{{locale.logout}}</span>
    </div>
  </div>
</div>
